h1,
p {
  font-family: Lato;
}

.searchSelect {
  width: 200px;
  height: 30px;
  margin-left: 10px;
}

.searchButton {
  margin-left: 10px;
  height: 30px;
  width: 70px;
}

.aternativeButton {
  margin-left: 10px;
  margin-top: 10px;
  height: 30px;
  width: 200px;
  border-radius: 15px 15px;
  border-color: green;
  background-color: white;
  color: green;
}

.aternativeButton:hover {
  background-color: green;
  color: white;
}

.aternativeButton.active {
  background-color: green;
  color: white;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.submitAnswersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.submitAnswersButton {
  width: 200px;
  height: 30px;
  margin-top: 20px;
  background-color: grey;
  border: none;
  color: white;
}

.resultButtonIncorrect {
  margin-left: 10px;
  margin-top: 10px;
  height: 30px;
  width: 200px;
  border-radius: 15px 15px;
  border-color: green;
  background-color: red;
  color: white;
}

.resultButtonCorrect {
  margin-left: 10px;
  margin-top: 10px;
  height: 30px;
  width: 200px;
  border-radius: 15px 15px;
  border-color: green;
  background-color: green;
  color: white;
}

.resultButtonNotSelected {
  margin-left: 10px;
  margin-top: 10px;
  height: 30px;
  width: 200px;
  border-radius: 15px 15px;
  border-color: green;
  background-color: white;
  color: green;
}

.noResult {
  display: none;
}

.redResult {
  background-color: red;
  color: black;
  width: fit-content;
  height: 30px;
  text-align: center;
  margin-top: 10px;
}

.yellowResult {
  background-color: yellow;
  color: black;
  width: fit-content;
  height: 30px;
  text-align: center;
  margin-top: 10px;
}

.greenResult {
  background-color: green;
  color: black;
  width: fit-content;
  height: 30px;
  text-align: center;
  margin-top: 10px;
}
